.GTalkSyntax-HUD {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(235, 235, 235, 0.8);
  display: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0px 0px 3px #cccccc;
  cursor: default;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .GTalkSyntax-HUD .current {
    font-weight: bold; }
  .GTalkSyntax-HUD .dropdown-menu {
    display: none; }
  .GTalkSyntax-HUD .GTalkSyntax-caret {
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer; }
    .GTalkSyntax-HUD .GTalkSyntax-caret:hover {
      background-color: rgba(215, 215, 215, 0.8); }
    .GTalkSyntax-HUD .GTalkSyntax-caret b {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      vertical-align: top;
      border-top: 4px solid black;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: ""; }
  .GTalkSyntax-HUD ul {
    margin: 2px;
    padding-left: 0;
    list-style: none; }
    .GTalkSyntax-HUD ul li {
      border-radius: 3px;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      cursor: pointer; }
      .GTalkSyntax-HUD ul li:hover {
        background-color: rgba(215, 215, 215, 0.8); }

[role=log] .kl pre, [role=log] .kk [id] pre {
  background-color: #DDD;
  padding: 2px;
  border-radius: 4px; }

[role=log] .kk, [role=log] .kl {
  position: relative; }

[role=log] pre {
  margin: 0; }
  [role=log] pre.inline {
    display: inline-block;
    padding: 1px; }
    [role=log] pre.inline code {
      padding: 0px; }
  [role=log] pre code {
    padding: 3px; }
