// fancy selector so that hover still ovverides
@mixin menu_item {
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  cursor: pointer;
  &:hover {
    background-color: rgba(215, 215, 215, 0.8);
  }
}

.GTalkSyntax-HUD {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  background-color: rgba(235, 235, 235, 0.8);
  display: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0px 0px 3px #CCC;
  cursor: default;
  z-index: 1; //important for mouseleave events

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .current {
    font-weight: bold;
  }
  // note: the dropdown menu will currently go below the text box if dealing with a short message on the bottom of the window
  // See this SO/fiddle: http://stackoverflow.com/questions/11230754/html-stack-a-child-element-above-the-sibling-of-its-parent-which-has-been-z-in
  // this must be why bootstrap tooltips appear on bottom of page. Maybe we can do the same.
  .dropdown-menu {
    display: none;
  }
  .GTalkSyntax-caret {
    display: inline-block;
    padding: 0 5px;
    @include menu_item;
    b {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      vertical-align: top;
      border-top: 4px solid black;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: "";
    }
  }
  ul{
    margin: 2px;
    padding-left: 0;
    list-style: none;
    li{
      @include menu_item;
    }
  }
}

[role=log] .kl pre, [role=log] .kk [id] pre {
  background-color: #DDD;
  padding: 2px;
  border-radius: 4px;
}

[role=log] .kk, [role=log] .kl {
  position: relative;
}