html {
  height: 100%;
   }

body {
  /* Setting default text color, background and a font stack */
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #38a3d4;
  border: 1px solid #333;
  text-shadow: 1px 1px 0 #2d3035;
  /* A webkit gradient: */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#dddddd));
  background-image: url('http://subtlepatterns.com/patterns/low_contrast_linen.png');
  overflow-x: hidden; }

#options {
  margin-top: 10%; }
.row, .row-fluid {
 background-color: rgba(66,66,66,0.4);
 box-shadow: 0px 1px 10px rgba(66,66,66,0.5);
}
.status {
  color: #0c0; }

label {
  vertical-align: -webkit-baseline-middle;
  display: inline-block; }

h1 {
  margin-bottom: 0;
  margin-left: -5%; }

h4 {
  margin-bottom: 0px; }

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

.row > h3 {
  margin-left: 20px; }
