html{
  height: 100%;
}

body{
    /* Setting default text color, background and a font stack */
    margin-left: 5%;
    font-size:18px;
    color:#666;
    /* A webkit gradient: */
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#DDD));

    text-shadow:1px 1px 0 white;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;
}

#options {
    margin-top: 10%;
}
.status {
    color: #0c0;
}
label{
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
}
h1 {
    margin-bottom: 0;
    margin-left: -5%;

}
h4 {
    margin-bottom: 0px;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.row > h3{
  margin-left: 20px;
}